* {
  margin: 0px;
  padding: 0;
  font-family: "inter", sans-serif;
  box-sizing: border-box;
}
/* general css */
body {
  height: 2000px;
}
/* css error email*/
#error-email {
  color: red;
  font-weight: 700;
}

.bg-grey {
  background: #f7f7f7;
}

section > .container {
  width: 1170px;
  margin: auto;
  display: block;

  padding: 30px 50px;
}

#nav-bar {
  text-align: center;
}

/*css banner*/
.banner {
  position: relative;
  height: 300px;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-banner {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: #f7f7f7;
}
/* css header */
header h1 {
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 1.1;
}
header p {
  font-size: 20px;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #9e717127;
  /*height: 70px;*/
}
.navbar a {
  text-transform: uppercase;
  border-left: 0.1px solid #9e717127;
  border-right: 1px solid #9e717127;
  text-align: center;
  align-self: start;
  border-collapse: collapse;
}
/*stretch*/
.nav-p {
  font-size: 12px;
}
.nava3 {
  flex-basis: 180px;
  padding-top: 10px;
}
.nav {
  flex-basis: 120px;
  font-size: 14px;
  padding-top: 23px;
  color: black;
}
.navbar a:hover {
  cursor: pointer;
  color: black;
}
.navbar i {
  color: rgb(54, 39, 216);
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#info {
  background-color: pink;
  padding: 35px;
}
/*ẩn thông tin user đến khi submit email */
#info .section-content {
  display: none;
}
#target {
  background-color: rgb(215, 206, 206);
  padding: 35px;
}
.row-info {
  padding: 5px;
  display: flex;
}
/* end header */
/* maiin */
/* info */
/* section css */
.section-title {
  position: relative;
  font-weight: bold;
  display: flex;
  margin-bottom: 40px;
  justify-self: space-between;
  margin-top: 20px;
}
/* căn chỉnh phần HỌC VẤN, KINH NGHIỆM, HOẠT ĐỘNG */
.col-4 {
  width: 32%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid rgb(199, 191, 191);
}
i {
  color: blue;
  font-style: normal;
}
#project i::before {
  color: black;
}
.col-4 div {
  margin: 5px 0;
}
.row-12 {
  margin: auto;
  overflow-y: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}
/* set #experience, #education,#activity, #skill*/

#experience i,
#education i,
#activity i,
#hobby i,
#language i,
#skill i {
  position: absolute;
  right: 10%;
  color: grey;
  font-size: 30px;
}
#experience .section-content {
  margin-top: 20px;
  padding-left: 20px;
  position: relative;
}
#education .section-content {
  margin-top: 20px;
  padding-left: 20px;
  position: relative;
}
#activity .section-content {
  margin-top: 20px;
  padding-left: 20px;
  position: relative;
}
/* css time line */
.title::before {
  position: absolute;
  top: 2px;
  left: 0;
  content: "\2022";
  color: blue;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.title b {
  padding-left: 1px;
}
/* CSS phần sở thích thêm các icon và căn chỉnh đúng vị trí icon */
#hobby .item {
  display: flex;
}
#hobby .item .iconHobby {
  font-size: 10px;
  margin-right: 20px;
}
.iconHobby i {
  position: static !important;
  width: 45px;
  height: 45px;
  border: 2px solid rgba(106, 229, 110, 0.938);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 20px;
  font-size: 15px !important;
  margin-right: 20px;
}
#experience .section-content {
  margin-top: 20px;
}
/* exp-bar */
.exp-bar {
  width: 50px;
  height: 5px;
  background-color: grey;
  display: inline-block;
}
.fill {
  background-color: rgb(85, 81, 217);
}
/* căn chỉnh phần chứng chỉ-giải thưởng */
#certificate .section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 79%;
  margin: auto;
}
.bg-grey {
  display: flex;
}
.bg-grey img {
  flex: 0.3;
  object-fit: contain;
}
.bg-grey-text {
  margin: 0 20px;
  font-size: 12px;
}
#project .section-container {
  grid-template-columns: repeat(3, 1fr);
}
#certificate hr {
  grid-column: 1 / span 2;
  border: none;
  border-bottom: 1px solid #d6c08d;
}
#certificate p {
  padding-top: 10px;
}
#certificate h2 {
  padding-left: 155px;
}
.border-left {
  border-left: 1px solid #d6c08d;
  padding-left: 20px;
}
/* căn chỉnh phần dự án */
#project-cv,
#project-thu-cung,
#project-news {
  width: 100%;
  height: 200px;
}
#project div > p:nth-child(1) {
  display: inline-block;
  width: 20%;
}
#project div > p:nth-child(2) {
  display: inline-block;
  width: 70%;
}

#project h2 {
  padding-left: 155px;
}
#project {
  font-size: 12px;
}
#project .col-4 {
  padding: 0;
}
#project h4 {
  padding: 10px;
}
.sub-title {
  display: flex;
  gap: 10px;
  padding: 0 10px;
}
.item-1 {
  border-bottom: 1px solid grey;
  display: flex;
  padding: 0 10px;
}
.item {
  padding: 10px;
}
.item-1:nth-child(1) {
  border-top: 1px solid grey;
}
#project p {
  padding-top: 10px;
  margin-bottom: 10px;
}
.btn-prmary {
  color: white;
  display: inline-block;
  background-color: blue;
  height: 20px;
  width: 70px;
  border-radius: 40%;
  text-align: center;
}
/* căn chỉnh phần liên hệ */
.details-list {
  text-align: center;
  background-color: rgb(239, 238, 238);
  height: 50px;
  line-height: 50px;
}
.details-list a {
  padding-left: 10px;
}

/* căn chỉnh phần nâng cao */
.img-354146702 {
  transform: scale(5);
  border-radius: 50%;
  border: 1px solid rgb(226, 231, 233);
}
.hidden {
  display: none !important;
}
.contro-view {
  display: none;
}
.col-4:hover .contro-view {
  display: block;
}
